/*
#fff3e6
#1a508b
#0d335d
#c1a1d3
 */


body{
  margin:0;
  text-align: center;
  font-family: "Lato", sans-serif;
}


h1{
  text-align: center;
  margin: 50 auto 0 auto;
  font-family: "Permanent Marker", cursive;
  font-size: 4rem
}

h2{
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}

h3{
  font-family: "Montserrat", sans-serif;
}

.top-container{
  background-color: #fff3e6;
  margin: 0;
  position: relative;
  padding-top: 100px
}


.middle-container{

}

.bottom-container{

}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.pro{
  text-decoration: underline;
}
