/*
#66BFBF
#EAF6F6
#40514E
#11999E
 */


body{
  margin:0;
  text-align: center;
  font-family: "Lato", sans-serif;
}


h1{
  text-align: center;
  margin: 50 auto 0 auto;
  font-family: "Permanent Marker", cursive;
  font-size: 4rem;
  color: #66BFBF
}

h2{
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;;
  color:#66BFBF;
  font-weight: normal;
  line-height: 2
}

h3{
  font-family: "Montserrat", sans-serif;
  color: #11999E
}

a{
  color: #11999E
}

hr {
background-color: none;
border-style: none;
width: 60px;
border-top: dotted 10px;
border-color: #EAF6F6;
margin: 50px auto auto auto
}

.top-container{
  background-color: #EAF6F6;
  margin: 0;
  position: relative;
  padding-top: 100px
}


.middle-container{
margin: 100px 0;
}

.bottom-container{
background-color: #66BFBF;
margin:0;
padding: 25px;
line-height: 2
}

.footer-link{
  text-decoration: none;
  padding: 20px
}

.footer-text{
  color: white;
  font-size: 10px
}

.contact-me{
line-height: 2
}


.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.pro{
  text-decoration: underline;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.programming-img{
width: 25%;
float: left;
margin-right: 20px
}

.rock-img{
width: 25%;
float: right;
}

.btn {
   -webkit-border-radius: 8;
   -moz-border-radius: 8;
   border-radius: 20px;
   color: #EAF6F6;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 100;
   padding: 10px 20px 10px 20px;
   background-color: #66BFBF;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   background: #11999E;
   border: solid #11999E 1px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
