/*
#fff3e6
#1a508b
#0d335d
#c1a1d3
 */


body{
margin:0;
text-align: center;
}

h1{
text-align: center;
margin-top:0
}

.top-container{
  background-color: #fff3e6;
  margin: 0;
  position: relative;
  padding-top: 100px
}


.middle-container{
  background-color:   #0d335d;
  height: 200px;
  width: 200px
}

.bottom-container{
  background-color: #1a508b;
  height: 200px;
  width: 200px
}

.top-cloud{
  position: absolute;
  left: 600px;
  top: 60px
}

.bottom-cloud{
  position: absolute;
  left: 200px;
  top: 150px
}
